<div class="ui form">
    <div class="ui three column grid">
        <div class="row">
            <div class="column tensor">
                <label>Strike</label>
                <div class="ui disabled input">
                    <input type="text" readonly [value]="momentTensor.strike"/>
                </div>
            </div>
            <div class="column tensor">
                <label>Dip</label>
                <div class="ui disabled input">
                    <input type="text" readonly [value]="momentTensor.dip"/>
                </div>
            </div>
            <div class="column tensor">
                <label>Rake</label>
                <div class="ui disabled input">
                        <input type="text" readonly [value]="momentTensor.slip"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui bottom warning message" *ngIf="momentTensor.sdrComputationError">
    Strike / Dip / Rake computation error. Try specifying differen moment tensor parameters
</div>