<div class="ui form">
    <div class="ui three column grid">
        <div class="row">
            <div class="column tensor">
                <label>Strike</label>
                <spinner [value]="momentTensor.strike" (valueChange)="updateStrike($event)" [step]="1"></spinner>
            </div>
            <div class="column tensor">
                <label>Dip</label>
                <spinner [value]="momentTensor.dip" (valueChange)="updateDip($event)" [step]="1"></spinner>
            </div>
            <div class="column tensor">
                <label>Rake</label>
                <spinner [value]="momentTensor.slip" (valueChange)="updateRake($event)" [step]="1"></spinner>
            </div>
        </div>
    </div>
</div>
<div class="ui bottom warning message" *ngIf="momentTensor.sdrComputationError">
    Strike / Dip / Rake computation error. Try specifying differen moment tensor parameters
</div>