<div class="ui form">
    <div class="ui three column grid">
        <div class="row">
            <div class="column tensor">
                <label>Mtt</label>
                <spinner [value]="momentTensor.Mtt" (valueChange)="updateMxx($event)"></spinner>
            </div>
            <div class="column tensor">
                <label>Mtp</label>
                <spinner [value]="momentTensor.Mtp" (valueChange)="updateMxy($event)"></spinner>
            </div>
            <div class="column tensor">
                <label>Mrt</label>
                <spinner [value]="momentTensor.Mrt" (valueChange)="updateMxz($event)"></spinner>
            </div>
        </div>
        <div class="row">
            <div class="column tensor">
                <label>Mpp</label>
                <spinner [value]="momentTensor.Mpp" (valueChange)="updateMyy($event)"></spinner>
            </div>
            <div class="column tensor">
                <label>Mrp</label>
                <spinner [value]="momentTensor.Mrp" (valueChange)="updateMyz($event)"></spinner>
            </div>
            <div class="column tensor">
                <label>Mrr</label>
                <spinner [value]="momentTensor.Mrr" (valueChange)="updateMzz($event)"></spinner>
            </div>
        </div>
    </div>
    <div class="ui one column centered grid">
        <div class="center aligned column">
            <button class="ui primary button" type="button" (click)="pickUSGS()">{{modeSelectorText}}</button>
        </div>
    </div>
</div>